@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100,900);

* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box;    
  	box-sizing: border-box;
  	font-family: 'Roboto', sans-serif;
}

body {
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFFFFF; 
}

h1 {
	color: #111111;
	letter-spacing: 0.5px;
}

a {color: #666666;}

a:hover {color: #111111;}

button {
	text-align: left;
	background: transparent;
	outline: none;
	border: 2px solid #111111;
	padding: 10px;
	border-radius: 3px;
	color: #111111;
	cursor: pointer;
	margin: 20px 0px 0px;
	letter-spacing: 1px;
	font-weight: 700;
	-webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    -o-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
}

button:hover {
	color: #FFFFFF;
	background-color: #111111;
}
#calcvalue {margin-left: 10px;}
#clear {float: right;}

textarea {
	margin: 20px 0px 20px 0px;
	width: 100%;
	min-height: 190px;
	background-color: #FFFFFF;
	border: 1px solid #A9A9A9;
	padding: 7px;
	outline: none;
	resize:vertical;
}

#hcenter {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#vcenter {
	display: inline-block;
	text-align: left;
	padding: 20px;
}

#canvas {
  cursor: pointer;
  background-color: #A9A9A9;
  border: 1px solid #A9A9A9;
  margin-bottom: -4px;
  margin-top: 20px;
}

